<h2>******** Now your result ********</h2>

<p1> This was your word<%= @answer %></p1>

<!-- puts "Your word: #{attempt}"
puts "Time Taken to answer: #{result[:time]}"
puts "Your score: #{result[:score]}"
puts "Message: #{result[:message]}"

<p>*****************************************************</p> -->
